@font-face {
  font-family: glitch;
  src: url('../public/Glitch.ttf') format('truetype');
}
@font-face {
  font-family: mario;
  src: url('./fonts/Mariott.otf') format('truetype');
}
:root {
 
  --main-color: #4B5320;
}
.top-bar{
  background: linear-gradient(to bottom, var(--main-color), transparent);
    height: 60px;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    
    align-items: center;
    
  z-index: 2;
  transition: all 0.3s ease;
}

.top-bar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.top-bar-content.minimized {
  justify-content: space-between;
}
.top-bar.scrolled {
  background: var(--main-color);
  height: 40px;
  padding: 5px;
 
 
}
.buttonslayout{
  grid-column: 2/ span 1;
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  transition: all 0.3s ease;
}


.Home{
  grid-column: 1;
  grid-row: 1;
  
}
.About-us{
  grid-column: 2;
  grid-row: 1;
  
}
.Help{
  grid-column: 3;
  grid-row: 1;
 
}
.Privacy{
  grid-column: 4;
  grid-row: 1;

}
.Home,
.Privacy,
.Help,
.About-Us {
  border-color: rgba(0, 0, 0, 0);
  border-width: 3px;
  background-color: rgba(0, 0, 0, 0);
 
  color: white;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bolder;
  font-style: Arial;
  font-size: medium;
  height: 40px;
  width: 100px;
  transition: all 0.3s ease;
}
.Home.scrolled,
.About-Us.scrolled,
.Help.scrolled,
.Privacy.scrolled {
  height: 30px;
  width: 80px;
  font-size: small;
  
}
.top-bar img {
  height: 50px;
  width: auto;
  max-height: 100%;
  max-width: 100%;
  transition: all 0.3s ease;
}
.logo {
  height: 50px;
  width: auto;
  max-height: 100%;
  max-width: 100%;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-left: 30px;
  object-fit: cover;
}
.logo.scrolled {
  height: 30px;
}
.logo-container {
  display: flex;
  align-items: center;

}
.login {
  
  border-width: 0px;
  background-color: white;
  height: 40px;
  width: 150px;
  color: var(--main-color);
  border-radius: 15px;
  margin-right: 30px;
  cursor: pointer;
  font-weight: bolder;
  font-size: medium;
  transition: all 0.3s ease;
}
.menu-logo{
  display: none;
}
.side-panel {
  display: none;
}
.layout{
  display: grid;
    margin-top: 0px;
  
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px;
    padding: 0px;
}

.main-image{
  grid-column: 1/ span 2;
  grid-row: 1;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;

}
.mainimage{
  height: 100%;
  width: 100%;
  filter: brightness(0.7);
  z-index: -1;
}


.find-coach-header {
 
  font-size: 3rem;
  text-align: center;
  z-index: 2;
  position: absolute;
  font-family: mario;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 1;
}






.search-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
}

.search-field {
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem 0 0 0.5rem;
  font-size: 1.2rem;
  width: 350px;
  
}

.search-button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0 0.5rem 0.5rem 0;
  background-color: var(--main-color);
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
  
}
.find-coach-or{
  font-size: 2rem;
  font-weight: bold;
  margin-top: 0.5rem;
  font-family: mario;
  margin-bottom: 0.5rem;
  text-align: center;
  color: #fff;
}
.search-coach {
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem 0 0 0.5rem;
  font-size: 1.2rem;
  width: 350px;
  }
  .search-button-for-coach {
    padding: 0.5rem 1rem;
  border: none;
  border-radius: 0 0.5rem 0.5rem 0;
  background-color: var(--main-color);
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
    transition: background-color 0.3s ease;
    }
    
    
.searchbar1,
.searchbar2 {
  display: flex;
  align-items: center;
}

.search-field:focus,
.search-coach:focus {
  outline: none;
}
.radio-buttons {
  position: absolute;
  top: 115%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
}

.radio-buttons label {
  display: flex;
  align-items: center;
  margin-right: 10px;
  font-size: 14px;
  color: #ffffff;
}

.radio-buttons input[type="radio"] {
  margin-right: 5px;
 
}

.what-we-do-img{
  grid-column: 2;
  grid-row: 2;
  width:100%;
  height: auto;
}
.what-we-do{
  grid-column: 1/ span 1;
  grid-row: 2;
  
 
}
.what-we-do h2{
  margin-left: 15px;
  text-align: left;
  font-family: mario;
  font-size: xx-large;
}
.what-we-do p{
  text-align: left;
  margin-left: 15px;

  margin-right: 15px;
  font-size: medium;
  font-weight: 550;
}

.oli{
  grid-column: 2/ span 1;
  grid-row: 4;
  width:100%;
  height: auto;
}
.asma{
  grid-column: 1;
  grid-row: 3;
  width:100%;
  height: auto;
}
.what-we-do-img{
  object-fit: cover;
  height: 100%;
}
.asma, .oli{
  object-fit: cover;
  height: 100%;
}
.what-we-do,
.container3,
.container2{
  background-color: #ffffff;
  color:var(--main-color) ;
  height: auto;
  width: 100%;
 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.container2{
  grid-column: 2/ span 1;
  grid-row: 3;
}
.container3{
  grid-column: 1/ span 1;
  grid-row: 4;

}
.container3 h2,
.container2 h2{
  font-family: mario;
  font-size: xx-large;
}
.container3 p,
.container2 p{
  font-size: medium;
  padding: 10px;
  font-weight: 550;

}
