@media screen and (max-width: 853px) {
  @font-face {
    font-family: mario;
    src: url('./fonts/Mariott.otf') format('truetype');
  }
    .layout {
      grid-template-columns: 1fr;
      overflow: hidden;
    
    }
    .container3{
      text-align: center;
      padding-left: 0px;
    }
    .side-panel {
      position: fixed;
      display: block;
      top: 0;
      right: -300px;
      width: 80%;
      height: 100%;
      background-color: #4B5320;
      z-index: 999;
      transition: all 0.3s ease-in-out;
      overflow-y: auto;
    }
    
    .side-panel.open {
      right: 0;
    }
    
    .buttonslayout-mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
   
      justify-content: center;
      height: 100%;
      width: 100%;
      padding-top: 50px;
      
    }
    
    .buttonslayout-mobile button {
      margin-bottom: 50px;
      font-size: 15px;
      font-family: mario;
      color: #ffffff;
      background-color: transparent;
      border: none;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
    }
    .side-panel.open .buttonslayout-mobile {
      width: 100%;
    }
    .buttonslayout-mobile button:hover {
      color: #f00;
    }
    
    .what-we-do{
      grid-column: 1/ span 1;
      grid-row: 2;
    }
    .what-we-do-img{
      grid-column: 1;
     grid-row: 3;
    }
    .container2{
        grid-column: 1/ span 1;
        grid-row: 4;
       
      }
      
      .container3{
        grid-column: 1/ span 1;
        grid-row: 6;
       
      }
      .asma{
        grid-column: 1/ span 1;
        grid-row: 5;
      }
      .oli{
        grid-column: 1/ span 1;
        grid-row: 7;
      }
     
      .container2 h2{
  
        font-size: x-large;
      }
      .container2 p{
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
        font-size: small;
        font-weight: 600;
      }
      .buttonslayout{
        display: none;
      }
      .login{
        display: none;
      }
      
      .top-bar{
        grid-template-columns: 1fr 1fr;
        margin-left: 0px;
      }
      .menu-logo{
        grid-column: 2/ span 1;
        grid-row: 1;
        height: 50px;
        width: auto;
        display: flex;
        max-height: 100%;
        max-width: 100%;
        cursor: pointer;
        transition: all 0.3s ease;
        margin-right: 30px;
      
      }
      .logo{
        margin-left: 0px;
      }
      
      .mainimage{
        height: 100%;
        width: auto;
        object-fit:cover;
        object-position: center;
        overflow: hidden;
        
      }
      .white-container {
        width: 300px;
      }
      .find-coach-header {
        font-size: 2rem;
        margin-top: 5px;
      }
      .search-coach,
      .search-field {
        
        width: 170px;
        
      }
      .find-coach-or,
      .find-coach-header {
        font-size: 20px;
      }
     
  }